body{
    background-color: #c6dff9;
}
.left{
    min-width: 50%;
    max-width: 50%;
}
.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#title{
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    color: #007BFF;
}
#txin{
    width:100%;
    border-radius: 10px;
    border-color: #007BFF;
    color: #007BFF;
    background-color: azure;
}
