body{
    background-color: #c6dff9;
}
.left{
    float: left;
    min-width: 50%;
}
#title{
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    color: #007BFF;
}
#txin{
    width:100%;
    border-radius: 10px;
    border-color: #007BFF;
    color: #007BFF;
    background-color: azure;
}